#about-sect {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #0F0F0F;
    z-index: 5;
}

.italian-flag {
    display: flex;
    width: fit-content;
    margin-left: 2%;
    gap: 10px;
}

.green-flag {
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
    background-color: #00933F;
    width: 100px;
    height: 410px;
}

.white-flag {
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
    background-color: #fff;
    width: 80px;
    height: 310px;
}

.red-flag {
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
    background-color: #F22637;
    width: 65px;
    height: 230px;
}


.huge-logo {
    position: absolute;
    left: 10%;
    bottom: 15%;
    width: 500px;
}


.about-text {
    font-family: 'Montserrat';
    color: white;
}


.about-header {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 500px;
    text-align: justify;
}


.about-container2 {
    margin-left: 100px;
}


.about-container3 {
    margin-left: 150px;
}


.about-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: absolute;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
}


.about-father-container {
    display: flex;
    gap: 50px;
    flex-direction: column;
}