#depoiment-form-sect {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(../assets/imgs/wood-background.png) no-repeat center;
    background-size: cover;
    overflow: hidden;

}


.depoiment-form-container {
    display: flex;
    align-items: center;
    width: 90%;
    height: 90%;
    background-color: gray;
    border-radius: 15px;
}


.form-first-sect {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    padding: 30px;
    width: 50%;
    height: 100%;
    background-color: #111;
    border-radius: 15px 0 0 15px;
}


.form-logo {
    width: 300px;
}


.mini-italian-flag {
    position: relative;
    width: 50px;
    height: 8px;
    background-color: rgb(255, 255, 255);
}


.green-square {
    position: absolute;
    left: 0;
    width: 32%;
    height: 100%;
    background-color: #00933F;
}

.red-square {
    position: absolute;
    right: 0;
    width: 32%;
    height: 100%;
    background-color: #F22637;
}


.form-first-sect p {
    text-align: center;
}


.form-sect {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    width: 50%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    background-color: #1C1C1C;
}


#form-header-h1 {
    font-weight: 400;
    font-size: 2em;
}



.form-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 90%;
}


fieldset {
    height: 70px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    padding: 0 10px 5px 10px;
}


legend {
    color: #ffffff;
    padding: 0 5px;
    font-family: 'Montserrat';
    font-size: 1.2em;
    font-weight: 600;
}


.required {
    color: red;
    margin-left: 2px;
}

.text-input {
    width: 100%;
    height: 100%;
    padding: 5px 5px 5px 0px;
    color: white;
    border: none;
    outline: none;
    font-family: 'Montserrat';
    font-size: 1em;
    background: transparent;
}


textarea {
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: #ffffff;
    text-align: justify;
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: 300;
    resize: none;
}


.textarea-fieldset {
    min-height: 300px;
    display: flex;
}


textarea::-webkit-scrollbar {
    margin-right: 0;
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  background: none;
}

textarea::-webkit-scrollbar-thumb {
  background: #3b3b3b;
  border-radius: 10px;
  transition: 0.3s;
  cursor: default;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #333333;
  transition: 0.3s;
}



.rate {
    font-size: 1.2em;
    font-weight: 600;
}


.stars-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.stars-rating input {
  display: none;
}

.stars-rating label.half {
  width: 25px;
  height: 50px;
  background-image: url('../assets/imgs/unmarked_half_1.png');
  background-size: cover;
  cursor: pointer;
}

.stars-rating label.right-half {
  width: 25px;
  height: 50px;
  background-image: url('../assets/imgs/unmarked_half_2.png');
  background-size: cover;
  cursor: pointer;
}

.stars-rating input:checked ~ label.half {
  background-image: url('../assets/imgs/marked_half_1.png');
}

.stars-rating input:checked ~ label.right-half {
  background-image: url('../assets/imgs/marked_half_2.png');
}

.stars-rating input:hover ~ label.half {
  background-image: url('../assets/imgs/marked_half_1.png');
}

.stars-rating input:hover ~ label.right-half {
  background-image: url('../assets/imgs/marked_half_2.png');
}


button.submit{
    font-family: 'Montserrat-Bold';
    font-size: 1.5em;
    color: white;
    width: 100%;
    height: 100px;
    border-radius: 15px;
    transition: 0.3s;
    background-color: #00933F;
    border: none;
    outline: none;
}

.submit:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: #09c75b;
}