#rating-sect {
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    position: relative;
    width: 100vw;
    height: 200vh;
    background-color: #171717;
    overflow: hidden;
}


#rating-container {
    display: flex;
    width: 90%;
    height: 450px;
    border-radius: 15px;
    background-color: #101010;
}


.left-rating-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 20%;
    height: 100%;
    /* background-color: red; */
}

.right-rating-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    height: 100%;
    /* background-color: blue; */
}

.rating-bar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 95%;
    /* background-color: red; */
}


.rating-bar {
    position: relative;
    width: 90%;
    height: 35px;
    border-radius: 35px;
    background-color: #535353;
}


.progress-bar5 {
    position: absolute;
    width: 75%;
    height: 100%;
    background-color: #00933F;
    border-radius: 35px;
}


.progress-bar4 {
    position: absolute;
    width: 43%;
    height: 100%;
    background-color: #00933F;
    border-radius: 35px;
}


.progress-bar3 {
    position: absolute;
    width: 12%;
    height: 100%;
    background-color: #00933F;
    border-radius: 35px;
}


.progress-bar2 {
    position: absolute;
    width: 3%;
    height: 100%;
    background-color: #00933F;
    border-radius: 35px;
}



.depoiments-container {
    display: flex;

    width: 100%;
    height: 40%;
    background-color: red;
}


.depoiment-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    /* background-color: blue; */
    width: 400px;
    height: 100%;
}

.depoiment-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 20%;
    background-color: #202020;
    border-radius: 15px;
}

.depoiment-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    font-size: 1.2em;
    padding: 30px;
    width: 100%;
    height: 60%;
    background-color: #202020;
    border-radius: 15px;
}


.depoiment-rating {
    position: absolute;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.2em;
}