@charset "UTF-8";

@font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Aileron';
    src: url(../assets/fonts/Aileron/Aileron-Regular.otf);
}

@font-face {
    font-family: 'Aileron-Black';
    src: url(../assets/fonts/Aileron/Aileron-Black.otf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, html {
    height: 100%;
    width: 100%;
}
body {
    overflow-x: hidden;
}



header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.363);
}



p {
    text-align: justify;
    font-size: 1.1em;
    font-family: 'Montserrat';
    color: white;
    margin: 0;
    transition: 0.5s;
}


nav {
    display: flex;
    align-items: center;
    gap: 20%;
    padding-left: 20px;
    width: 100%;
}


.nav-logo {
    width: 100px;
}


#nav-links {
    display: flex;
    gap: 100px;
    
}

#nav-links a{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    
}






main {
    display: block;
    
    width: 100vw;
    height: 100%;
    
}



#first-sect {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 120px;
    background: url(../assets/imgs/main-background.png) no-repeat center fixed;
    background-size: cover;
}


#special-text {
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    font-family: 'Aileron-Black';
    font-weight: 900;
    font-style: italic;
    font-size: 15em;
    pointer-events: none;
}


.green {
    color: #00933F;
}


.white {
    color: #fff;
}


.red {
    color: #F22637;
}




.slide-wrapper {
    height: 100%;
}


.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    position: absolute;
    bottom: 5%;
    z-index: 2;
    width: 100%;
    height: 50vh;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}


.slider::-webkit-scrollbar {
    display: none;
}


.dish {
    width: 100px;
    height: 100%;
    flex: 0 0 100vw;
    object-fit: contain;
    scroll-snap-align: center;
}


.slider-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    position: absolute;
    bottom: 1%;
    width: 100px;
    height: 50px;
}





.slider-nav-selector {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
}


.border {
    position: absolute;
    bottom: 5%;
    left: 2%;
    width: 460px;
    height: 370px;
    
    
    border: 1px solid rgba(255, 255, 255, 0.4); 
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}


#dish-description {
    text-align: justify;
    font-size: 1.3em;
    font-family: 'Montserrat';
    color: white;
    padding: 25px;
    margin: 0;
    transition: 0.5s;
}

.border::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px; 
    top: -5%;
    left: -5%;
    
    border-style: solid;
    border-color: white;
    border-width: 5px 0 0 5px;
}

.border::after {
    content: '';
    position: absolute;
    width: 40px; 
    height: 40px; 
    bottom: -5%;
    right: -5%; 
    
    border-style: solid;
    border-color: white;
    border-width: 0 5px 5px 0;
}


#know-more-btn {
    display: inline-block;
    position: absolute;
    bottom: 20%;
    right: 5%;
    text-decoration: none;
    
    background: none;
    backdrop-filter: blur(4px);

    font-family: 'Montserrat-Bold';
    font-size: 3em;
    font-weight: 100;
    text-transform: uppercase;

    z-index: 3;

    color: #fff;
    outline: none;
    border: 10px solid white;
    padding: 30px;
    transition: 0.3s;
}


#know-more-btn:hover {
    transition: 0.3s;
    cursor: pointer;
    background-color: white;
    color: black;
}




#about-sect {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #0F0F0F;
    z-index: 5;
}


.italian-flag {
    display: flex;
    width: fit-content;
    margin-left: 1%;
    gap: 10px;
}


.green-flag {
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
    background-color: #00933F;
    width: 100px;
    height: 410px;
}

.white-flag {
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
    background-color: #fff;
    width: 80px;
    height: 310px;
}

.red-flag {
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
    background-color: #F22637;
    width: 65px;
    height: 230px;
}


.huge-logo {
    position: absolute;
    left: 10%;
    bottom: 15%;
    width: 500px;
}


h1 {
    font-family: 'Aileron';
    font-size: 2.5em;
    color: white;
}

h2 {
    font-family: 'Aileron';
    font-size: 1.5em;
    font-weight: 500;
    color: white;
}

.about-text {
    font-family: 'Montserrat';
    color: white;
}


.about-header {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* background-color: blue; */
    width: 500px;
    text-align: justify;
}


.about-container2 {
    margin-left: 100px;
}


.about-container3 {
    margin-left: 150px;
}


.about-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: absolute;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
    /* background-color: red; */
}


.about-father-container {
    display: flex;
    gap: 50px;
    flex-direction: column;
    /* background-color: yellow; */
    
}


#menu-sect {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(../assets/imgs/wood-background.png) fixed no-repeat center;
    background-size: cover;
    overflow: hidden;
}


.menu-dish {
    flex: 0 0 100%; 
    height: 100%;
    padding-left: 45%;
    object-fit: contain;
    scroll-snap-align: center;
}


.menu-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100vw; 
    height: 80vh;
    /* padding-left: 45%;  */
    -ms-overflow-style: none;  
    scrollbar-width: none;
}

.menu-slider::-webkit-scrollbar {
    display: none;
}


#menu-dish-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    left: 5%;
    z-index: 10; 
    width: 40%;
    pointer-events: none;
}

#menu-dish-description p.p-desc {
    text-align: justify;
    font-size: 1.1em;
    font-family: 'Montserrat';
    color: white;
    margin: 0;
    transition: 0.5s;
}


.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
}


.rating-48 {
    width: 150px;
}


.menu {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.slider-nav-selector {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
}



.menu-slider-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 50px;
    z-index: 100;
}


#premium {
    font-weight: bold;
    display: none;
    color: #CDA77D;
}


#premiumExclusive {
    display: none;
    font-weight: 500;
    font-size: 1.1em;
    color: #CDA77D;
    font-family: 'Aileron';
}


#about-chef-sect {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    

    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #0F0F0F;
    overflow: hidden;
}




.about-chef-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;

    width: 600px;
    background-color: red;
}